* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-size: 24px;
  display: grid;
  grid-template-columns: 80px 400px 1fr 150px;
  height: 100vh;
}
nav {
  background-color: rgb(192, 186, 186);
  grid-row: 1 /-1;
}
menu {
  background-color: aliceblue;
  grid-row: 2 /3;
  display: flex;
}
section {
  background-color: bisque;
}
main {
  background-color: brown;
}
aside {
  background-color: beige;
}
